ARCHIVER_DB_PATH=/home/piotr/sandbox/archiver/data/archive.db
ARCHIVER_ROOTS=/mnt/NASz
ARCHIVER_MANIFESTS_DIR=/home/piotr/sandbox/archiver/manifests
ARCHIVER_STAGING_DIR=/home/piotr/sandbox/archiver/staging
ARCHIVER_ISO_DIR=/home/piotr/sandbox/archiver/iso
ARCHIVER_DISC_SIZE_GB=100
ARCHIVER_FILL_RATIO=0.93
ARCHIVER_WEB_HOST=0.0.0.0
ARCHIVER_WEB_PORT=8765
ARCHIVER_TIMEZONE=Europe/Warsaw
ARCHIVER_SCAN_HOUR=10
ARCHIVER_OPTICAL_DEVICE=/dev/sr0
ARCHIVER_VERIFY_MOUNT=/mnt/archiver-disc
ARCHIVER_AUTO_PLAN=true
ARCHIVER_AUTO_VERIFY=true
ARCHIVER_VERIFY_RETRY_COUNT=10
ARCHIVER_VERIFY_RETRY_DELAY_SECONDS=6
# Optional custom notification command. It will be called as:
#   <command> "<title>" "<body>"
# ARCHIVER_NOTIFY_COMMAND=/usr/local/bin/archiver-notify
